@import "var";
@import "wsp";
@import "mixins";

/*-- reset --*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1rem = 10px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/*-- Globales --*/

.container-fluid {
    margin-left: 0;
    margin-right: 0;
    
}



body {
    font-family: 'Sofia Pro', sans-serif;
    background-color: $colorPrincipal;
    h1{
        font-size: 4rem;
        color: $colorDorado;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        }
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-- Barras --*/


.newsbar {
    height: 2rem;
    background-color: $colorSecundario;
    font-size: 1.5rem;

}

.promobar {
    height: 2rem;
    background-color: $colorTerceario;
    font-size: 1.5rem;
}

/*-- navbar --*/ 

nav{
    background-color: $colorPrincipal;

    .logo{
        // margin-left: 15rem;
        width: 20rem;
    }

    a:hover {
        color: $colorSecundario !important;
        // text-decoration: underline $colorSecundario !important;
        // font-weight: bolder;
    }
    .cartIcon{
        color: $colorSecundario !important;
    }
    .cartIcon:hover{
        text-decoration: none !important;
    }
}


/*Carousel*/

.carousel {
    margin-bottom: 4rem;

    .carousel-item {
        height: 60rem;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 60rem;
        }
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    }
}


@supports(object-fit: cover) {
    .box img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    }
}


/***Cards***/

.cardsContainer{

    background-color: $colorPrincipal;

    div{
        background-color: $colorPrincipal;

        h5{
            color: $colorLetras;
        }

        p{
            color: $colorLetras;
        }
    }
    

}

/*-- clientes --*/

.clientesContainer{

    background-color: $colorPrincipal;

    h3{
        color: $colorLetras;
    }
    
}

/*-- BOX presdisenadas --*/

.anotherContainer{
    background-color: $colorPrincipal;
    max-width: 80%;
    margin: 0 auto;
}

.card-body{
    background-color: $colorPrincipal;

    h5{
        color: $colorLetras;
    }
    p{
        color: $colorDorado;
        
    }
    a{
        background-color: $colorSecundario;
    }

}


/*-- Box personalizada --*/
.containerPersonalizadas{
    background-color: $colorPrincipal;
    
}

.listaProductos{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 1.5rem;

    .producto{
    width: 278px;
    margin: 1.5rem 0 0 0;
    }
}

button i, span{
    color: $colorSecundario;
}


/***** Contacto Section *****/

.containerMap{

    width: 90rem;
    height: 70rem;
    margin-bottom: 3rem;
    overflow:initial;   
    
    

    .map{
        width: 100%;
        height: 100%;
    }
}

.contactoTitle{
    color: $colorLetras;
}


/***** FAQ Section *****/

.acordion-header{
    background-color: $colorSecundario;
}


/***** Account *****/

.loginContainer{
    background-color: $colorPrincipal;
    display: flex;
    height: 60rem;
    align-items: center;
    height: 50vh;
    margin: 2rem;

    .loginForm{
        padding: 25px;
        width: 40rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        margin-bottom:  10rem;


        .flexImput{
        
        }

        input[type="text"],
        [type="password"]{
            padding: 10px;
            font-size: 15px;
            margin: 10px;

        
        }
        

        label{
            color: $colorLetras;
            font-size: 13px;
            text-transform: uppercase;
        }

        .susbcribe__button{
        width: 10rem;
        margin: 0 auto;
        }
    }



    .formSubmit{
        padding-top: 10px;
        text-align: center;
    }
}




/*-- Footer --*/

footer{
    background-color: $colorTerceario;
}



.suscribir__color {
    background-color: $colorSecundario;
}


/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    

    .newsbar{
        font-size: 3vw ;
    }

    .navbar__sm {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .navLogo{
        display: none;
    }

    a {
        margin: 1rem 0;
        
    }


    h5 {
        text-align: center;
    }

    .logo__sm{
        width: 200px;
        height: 50px;

    }

    .cliente {
        width: 100px;
        height: 50px;
        margin: 0 3rem;
    }


    div a:last-child {
        margin-left: 1.3rem;
        margin-right: 2rem;
    }



    .anotherContainer{
        max-width: 70%;
        margin: 0 auto;
    }

    .containerMap{
        width: 80%;
        padding: 0;
    }

    .contactoTitle{
        margin-bottom: 2rem;
    }
    
    .acordion{
        width: 90%;
    }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {


    .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    }

}

@media (max-width: 415px) {
    h1{
        font-size: 2.5rem !important;
        color: $colorDorado;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        }

    .navLogo{
        display: none;
    }

        .box{
            height: 35vh;
    
    
        }

    .cliente {
        width: 100px;
        height: 50px;
        margin: 0 3rem;
    }
    
    .glovo{
        margin:0;
    }
    .accenture{
        margin: 0.5rem;
    }
    .visa{
        margin: 0;
    }

    .listaProductos{
        grid-template-columns: repeat(1, 1fr);
       
        

        .producto{
            width: 100%;
            margin: 7px 0;
            
        }
        .producto:first-child{
            padding: 10px 0 0 0 ;
        }
        
    }

}    

